[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
rest-framework-simplejwt = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
psycopg2 = "*"
psycopg = "*"
mysqlclient = "*"
redis = "*"
celery = "*"
djangorestframework-stubs = "*"
celery-types = "*"
weasyprint = "*"
xhtml2pdf = "*"

[dev-packages]
locust = "*"

[requires]
python_version = "3.14"
